* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 40vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding-top: 10px;
  
}

.legend {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  

  color: black;
}

.githubLogo {
  width: 250px;
  margin: 20px;
}

.useful{
  background-color: black;
  color: white;


}



.usersDiv{
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 94vh;
  

}

.usersDiv * {
  margin: 3px;
}


.everything{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}